html{
    background-image:url() ;
}
h1{
    font-size: 50px;
}
#hgroup{
    border: 4px solid black;
}

#login{
   font-size: 19px; 
   border: 7px rgb(10, 10, 250) dashed;
   background-color: rgba(90, 180, 255, 0.4);
}
p{
    font-style: italic ;
    font-size: 20px;
    color: darkolivegreen;
}
.imageone{
  width:100% ;
  border: 5px inset black;
  border-style: dashed dotted;
  border-radius: 50px / 100px;
}
.videoone{
    padding-left: 200px;
    width: 50%;
    margin:30px 0px;
}
#media>h2{
    padding-left: 43%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style:oblique ;
}