@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body{ 
  background-image:url("/media/Paid.jpg");

}
* {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: white  ;
}

#info {
  background-color: rgba(0, 0, 139, 0.8);
}